*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html{
    height: 100%;
    width: 100%;
}

body {
    color: white;
    background-color:rgb(35, 32, 32);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    margin: auto;
    width: 100%;
    height: 100vh;
    background-image: url(../images/back.png);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    
}
nav{
    font-size: 20px;
}

/*** TOP NAV BAR ***/

.head-top{
    background-color:rgb(35, 32, 32, 0.95); 
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu-link{
    color: white;
}

#name-title{
    padding: 15px 15px;
    font-size: 20px;
    position: absolute;
    width: min-content;
}

.menu-main{
    display: flex;
    width: fit-content;
    margin: auto;
    justify-content: space-between;
    height: 100%;
    margin-top: 40px;
}

.menu-item{
    margin: 0 3vw;
    padding: 0 ;
}

.fa-github{
    color:gray;
}

.fa-github:hover{
    color: white;
}

.menu-link:hover{
    color: gray;
}


.hamburger-menu{
    display: none;
}

.main-title{
    width: 100%;
    height: 90vh;
    text-align: center;
}

#main-name{
    font-size: 8vw;
    padding-top: 30vh;
    padding-bottom: 25px;
}

#main-p{
    font-size: 2.5vw;
    padding: 0;
}



/*** NAVIGATION ARROWS ***/
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }


h2{
    color: white;
}

/*** About ME SECTION ***/

#about-me{
    margin: 100px 1px 10px 1px;
    text-align: center;
}


.about-me-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#me-img{
    border-radius: 100px;
    padding: 5%;
    width: 150px;
}

#description{
    line-height: 25px;
    width: 70%;
}




#skill{
    padding: 0 30px;
    padding-top: 100px;
    text-align: center;
}
#skill h2{
    padding: 20px;
}
#skill-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#skill-list li{
    padding: 5px 10px;
}

.tech-logo{
    width: 130px;
    height: auto;
}






#projects{
    margin-top: 210px;
    margin-bottom:  200px;
}

#projects h2{
    padding-left: 20px;
    padding-bottom: 20px;
}

#project-list{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card{
    margin: 12px 0;
    border-radius: 12px;
    background: rgba(60, 57, 57, 0.4);
    width: 40%;
    height: fit-content;
}

.card-img{
    position: relative;
    right: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: calc(100% + 16px);
    height: auto;
}

.card-text{
    color: white;
    padding: 0 8px 8px 8px;
}

#contact-me{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding-bottom: 50px;
}

.contact-email{
    position: relative;

}

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-img:hover{
    cursor: pointer;
}

@media only screen and (max-width:990px){
    #name-title{
        display: none;
    }
}

@media only screen and (max-width:767px){
#name-title{
    display: block;
    margin-left: 110px;
    margin-top: -10px;
    width: max-content;
    font-size: larger;
}

    .menu-main{
        display: none;
    }

    .head-top{
        width: 100%;
        height: 75px
    }
    
    .about-me-content{
        justify-content: center;
    }
    #projects{
        width: 100%;
        padding: 0;
    }

    #projects h2{
        padding-left: 15px;
    }

    #project-list{
        text-align: center;
        margin: 10px auto;
        width: 80%;
    }

    .project-card{
        width: 100%;
        margin: 25px 0;
    }

    .tech-logo{
        width: 50px;
        height: auto;
    }
}